@tailwind base;
@tailwind components;
@tailwind utilities;



/*
#root,
* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
}

*/


/* @media (min-width:576px) {
  .nav-a {
    font-size: 12px;
  }
}
@media (min-width:768px) {
  .nav-div {
    width: 100%;
  }
  .nav-a {
    font-size: 14px;
  }
}
@media (min-width:1080px) {
  nav {
    width: 1080px;
  }
} */
